$backgroundcolor: rgb(178,34,34);
$textcolormenuemob: white;
$hovertopcolor: rgb(248, 97, 97);
$h1contentcolor:rgb(255, 0, 0);
$pcontentcolor:grey;
$backgroundfusscolor:rgb(253, 195, 195);
$textfusscolor:rgb(226, 0, 0);
$contentbackgroundcolor:rgb(255, 226, 226);

* {
    margin: 0;
    box-sizing: border-box;
}


@import "Kontaktseite/kopfzeile_kontakt";
@import "Kontaktseite/inhalt_kontakt";
@import "Kontaktseite/desktop_kontakt";
@import "Kontaktseite/fusszeile_kontakt";