@charset "UTF-8";
* {
  margin: 0;
  box-sizing: border-box;
}

.kopf {
  height: 100px;
  width: 100vw;
  background-color: #990000;
  border-bottom: 10px groove grey;
  /*mobile styling---------------------------------------------------------------------*/
}
.kopf .nav_top {
  height: 100vh;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 999;
  /* Hamburger---------------------------------------------------------------------*/
  /* menüpunkte----------------------------------------------------------------------*/
}
.kopf .nav_top .logo_kl {
  float: left;
  margin: 10px;
  margin-top: 0;
}
.kopf .nav_top .logo_kl img {
  width: 100%;
  height: 80px;
}
.kopf .nav_top .logo_gr {
  opacity: 0;
  width: 0;
  height: 0;
}
.kopf .nav_top .logo_gr img {
  width: 0;
  height: 0;
}
.kopf .nav_top #nav-top-trigger {
  display: none;
}
.kopf .nav_top #nav-top-trigger:checked ~ .nav-top-trigger em {
  background-color: transparent;
  transition: background-color 0.5s;
}
.kopf .nav_top #nav-top-trigger:checked ~ .nav-top-trigger em::before {
  transform: rotate(-135deg);
  transition: transform 0.5s;
  background-color: black;
}
.kopf .nav_top #nav-top-trigger:checked ~ .nav-top-trigger em::after {
  transform: rotate(135deg);
  transition: transform 0.5s;
  background-color: black;
}
.kopf .nav_top #nav-top-trigger:checked ~ .menu {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s;
}
.kopf .nav_top #nav-top-trigger:checked #nav-top-trigger {
  display: none;
}
.kopf .nav_top #nav-top-trigger:checked #nav-top-trigger:checked ~ .nav-top-trigger em {
  background-color: transparent;
  transition: background-color 0.5s;
}
.kopf .nav_top #nav-top-trigger:checked #nav-top-trigger:checked ~ .nav-top-trigger em::before {
  transform: rotate(-135deg);
  transition: transform 0.5s;
  background-color: black;
}
.kopf .nav_top #nav-top-trigger:checked #nav-top-trigger:checked ~ .nav-top-trigger em::after {
  transform: rotate(135deg);
  transition: transform 0.5s;
  background-color: black;
}
.kopf .nav_top #nav-top-trigger:checked #nav-top-trigger ~ .menu {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s;
}
.kopf .nav_top .nav-top-trigger {
  float: right;
  height: 80px;
}
.kopf .nav_top .nav-top-trigger em {
  display: block;
  width: 28px;
  height: 2px;
  background-color: white;
  margin: 38px 10px;
  position: relative;
  transition: background-color 0.5s;
}
.kopf .nav_top .nav-top-trigger em::before, .kopf .nav_top .nav-top-trigger em::after {
  content: "";
  display: block;
  width: 28px;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
  transition: transform 0.5s;
}
.kopf .nav_top .nav-top-trigger em::before {
  transform: translateY(8px);
}
.kopf .nav_top .nav-top-trigger em::after {
  transform: translateY(-8px);
}
.kopf .nav_top .menu {
  background-color: rgba(255, 255, 255, 0.897);
  margin: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  height: 70%;
  max-height: calc(100vh - 110px);
  margin-top: 20px;
  display: grid;
  grid-template-rows: repeat(4, 25%);
  list-style: none;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
  z-index: 900;
}
.kopf .nav_top .menu .platzhalter {
  display: none;
}
.kopf .nav_top .menu li {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(202, 202, 202);
  height: 100%;
  justify-content: center;
  align-items: stretch;
}
.kopf .nav_top .menu li a {
  display: block;
  text-decoration: none;
  color: blue;
  font-size: 1.7em;
}
.kopf .nav_top .menu li a:hover {
  background-color: rgb(199, 22, 22);
  color: white;
}
.kopf .nav_top .menu li img {
  max-width: 100%;
  max-height: 70%;
  justify-self: center;
}
.kopf .nav_top .menu .ohne {
  border-style: none;
}

.container {
  width: 100vw;
}
.container .anfang .back {
  height: calc(100vh - 100px);
  width: 100vw;
}
.container .anfang .balken {
  background-color: rgba(74, 74, 221, 0.719);
  position: absolute;
  height: 100px;
  width: 100%;
  top: 80vh;
  text-align: center;
  display: flex;
  justify-content: center;
}
.container .anfang .balken .beschreibung {
  height: 100px;
  color: white;
  margin: 5px;
  font-size: 1.9em;
}
.container .produkte {
  width: 100%;
  margin-top: -5px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  background-color: rgb(255, 226, 226);
}
.container .produkte .raster {
  display: grid;
  grid-template-rows: 1fr 2fr;
  justify-items: center;
  align-content: start;
  background-color: white;
  padding: 20px;
}
.container .produkte .raster .bild {
  max-width: 300px;
  min-width: 100px;
  width: 100%;
  height: 100%;
}
.container .produkte .raster .text {
  width: 100%;
  padding-top: 10px;
  text-align: center;
}
.container .produkte .raster .text .ue {
  font-size: 2rem;
  color: rgb(255, 0, 0);
}
.container .produkte .raster .text .liste {
  list-style: disc;
  justify-items: left;
  padding-top: 20px;
  padding-left: 20px;
  margin: 0;
  color: grey;
  font-size: 1.3rem;
}
.container .produkte .raster .text .liste li {
  margin-bottom: 10px;
}

@media only screen and (min-width: 992px) {
  .kopf .nav_top {
    width: 100vw;
    height: 100px;
    display: grid;
    grid-template-columns: 3fr 7fr;
  }
  .kopf .nav_top .nav-top-trigger {
    display: none;
  }
  .kopf .nav_top .logo_kl {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
  }
  .kopf .nav_top .logo_gr {
    grid-column: 1;
    opacity: 1;
    width: 100px;
    height: 100px;
  }
  .kopf .nav_top .logo_gr img {
    width: 20vw;
    max-width: 450px;
    height: 80px;
  }
  .kopf .nav_top .menu {
    margin: 0;
    grid-column: 2;
    justify-self: end;
    width: 500px;
    background-color: transparent;
    display: flex;
    opacity: 1;
    line-height: 80px;
    background-color: transparent;
    overflow: visible;
    pointer-events: auto;
    position: relative;
    top: 0;
    line-height: 90px;
  }
  .kopf .nav_top .menu > li {
    float: left;
    border-bottom: none;
    height: 80px;
    position: relative;
    padding-left: 10px;
  }
  .kopf .nav_top .menu > li a {
    color: white;
  }
  .kopf .nav_top .menu > li a:hover {
    animation: move 1s forwards;
  }
  .kopf .nav_top .menu .platzhalter {
    display: flex;
    color: white;
  }
  .container {
    width: 100vw;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
  .container .anfang .back {
    height: calc(100vh - 100px);
    width: 100%;
  }
  .container .anfang .balken {
    width: 100vw;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}
@keyframes move {
  0% {
    top: 0px;
  }
  100% {
    font-size: 1.9em;
    background-color: rgb(228, 23, 23);
    color: blue;
  }
}
.fuss {
  height: 200px;
  background-color: #ffe6e6;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  color: rgb(226, 0, 0);
  font-size: 1.5em;
}
.fuss .link {
  grid-row: 1;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 10px;
}
.fuss .link a {
  text-decoration: none;
  color: rgb(226, 0, 0);
}
.fuss .link a:hover {
  color: blue;
}
.fuss .social {
  grid-row: 2;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.fuss .logo_fuss {
  grid-row: 3;
  justify-self: center;
}
.fuss .logo_fuss img {
  width: 15vw;
  max-width: 100px;
  height: auto;
}/*# sourceMappingURL=produktseite_style.css.map */