$backgroundcolor: #990000;
$textcolormenuemob: white;
$hovertopcolor: rgb(248, 97, 97);
$h1contentcolor:rgb(255, 0, 0);
$pcontentcolor:grey;
$backgroundfusscolor:#ffe6e6;
$textfusscolor:rgb(226, 0, 0);
$contentbackgroundcolor:rgb(255, 226, 226);
* {
    margin: 0;
    box-sizing: border-box;
}

@import "Produktseite/kopfzeile_produkt";
@import "Produktseite/inhalt_produkt";
@import "produktseite/desktop_produkt";
@import "produktseite/fusszeile_produkt";