.container {
    .slider{
        img {
            height: calc(100vh - 100px);
            width: 100vw;
            
        }

    }
    .balken {
        background-color: rgba(74, 74, 221, 0.719);
        position: absolute;
        height: 100px;
        width: 100%;
        top:80vh;
        text-align: center;

        .link {
            color: white;
            margin: 5px;
            font-size: 1.3em;
            text-decoration: none;
        }

    }
    .welcome {
        width: 100vw;
        padding: 20px;
        text-align: center;
        
        h1 {
            color:$h1contentcolor;
            font-size: 2.5em;
            font-weight: normal;
        }
        p {
            padding: 10px;
            color: $pcontentcolor;
            font-size: 1.8em;
            line-height: 40px;

        }
    }
    .reihe{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 40px;
        img{
            width: 300px;
            min-height: 100px;
        }
    }
}

@keyframes balk {
    0% { top:0px}
    100%{
        background-color: red;
    }
}


